
@import "@/assets/variables.styles.scss";
*,*::after,*::before{
box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
}
ul[class]{
    margin: 0;
    padding: 0;
list-style: none;
}
li[class]{
    margin-top: .3rem;
}
#app{
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    overflow: hidden;
}